# PostgreSQL Secrets
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MinIO Secrets
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# MLflow (reads these to write artefacts to MinIO)
BACKEND_STORE_URI=sqlite:///mlflow.db
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=

# API
USE_REAL_ARTEFACTS=false
API_TOKENS=
MODEL_PATH=/models/best_model.pkl
PIPELINE_PATH=/models/feature_pipeline.pkl
REDIS_HOST=redis
REDIS_PORT=6379
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
MLFLOW_TRACKING_URI=http://mlflow:5000